.udeCarousel{
    background-image: url(../img/cover.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    .cover__content{
       position: absolute;
       top: 30%;
       left: 10%;
       width: 30%;
    }
    h1{
        @include styleText($color-white-0,$fs-4,$fw-bold);
    }
    p{
        @include styleText($color-white-0,$fs-2 - 2,$fw-normal)
    }
    .form{
        .input-group{
            .fmc{
                padding: $pd-2;
                border-radius: 0;
                  border: none;
            }
            &::placeholder{
                @include styleText($color-gray-2,$fs-2,$fw-normal)
            }
            &:focus{
                box-shadow: none;
              
            }
        }
        .input-group-append{
            .input-group-text{
                color: $color-red-0;
                background-color: $color-white-0;
                border: none;
                padding: $pd-1;
            }
            &:hover{
                .input-group-text{
                    color: $color-white-0;
                    background-color: $color-red-0;
                }
            }
        }
    }  
} 
